@charset "UTF-8";
/* This is a CSS file */

@import url(index.css);

.headerLogo {
    height: 8rem;
}

.headerLogo img {
    height: 4.5rem;
    padding: 1.25rem 1rem 1rem 1rem;
}

.portgal {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.portgalitems {
    display: flex;
    gap: 1rem;
    height: 100%; 
    max-height: 15rem;
}

.portgal video, .portgal img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/* Text frames */
.left1, .right2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

/* Content frames */
.right1, .left2 {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Individual video/image settings */
.portgalitems:nth-child(5) > h2 {
    -webkit-hyphens: manual;
    -moz-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
}

  /* Sections MQ's */
@media screen and (min-width: 768px) {
    .headerLogo {
      padding-top: 4rem;
      height: 4rem;
      margin-bottom: 0;
    }

    .headerLogo img {
        display: none;
    }
}

@media screen and (orientation: landscape) and (max-width: 768px) {
    .headerLogo img {
    margin-top: 0rem;
    }
}