@charset "UTF-8";
/* This is a CSS file */

/* Site Scaler using rem-system (Root ) */
:root {
    font-size: 16px;

    /* COLORS */
    --black: #0a0a0a;
    --red: #F44E50;
    --red-active: hsl(359, 88%, 80%);
    --white: #e6e6e6;

    /* temporary test variables */
    color: var(--white);

    /* Transitiontimers */
    --buttontime: 250ms;
}

/* Body settings */
body {
  background-color: var(--black);
  width: 100vw;
  margin: 0 0 0 0;
}

/* Margin resets */
body * {
  margin: 0;
}

/* TEXT SETTINGS */
.textbutton {
  font-family: "Overpass Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5rem;
}

.textbody {
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 108%;
}

.textheading {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 1.875rem;
  line-height: 90%;
}

.textfooter {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.375rem;
}

/* Textbox settings */
.boxtext {
  color: var(--white);
}

/* Wrappers */
.sitewrap {
  margin: 3rem 1rem 3rem 1rem;
}

.columnflex {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.columnflex > .items{
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 3rem;
}



/* Sections */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, var(--black) 100%), 
  url("img/hero.png");
  background-size: cover;
  height: 25rem;
}

.header > img {
  height: 19rem;
  width: auto;
}

.aboutme {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.aboutme > div {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.aboutme > div > * {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
  height: 100%;
}

.aboutme > div > img {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  max-height: 25rem;
}

/* flex og padding options */

#flex133 {
  flex: 1.33;
}

.textingpadding {
  padding: 1rem 0 1rem 0;
}

/* List settings */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Buttons */
.CTA1 {
    font-size: 16px;
    line-height: 2em;
    padding: 0.2em 1.5em 0em 1.5em;
    text-align: center;
    background-color: transparent;
    color: var(--red);
    border-radius: 2.8em;
    border: 0.188em solid var(--red);
    transition: var(--buttontime);
}
  
.CTA1:hover {
  all: none;
}
  
.CTA1:active {
  background-color: var(--red);
  color: #0a0a0a;
  border: 0.188em solid transparent ;
  border-radius: 0em;
  transition: calc(var(--buttontime)/2);
}

/* Buttons Q's */
@media screen and (min-width: 600px){
  .CTA1 {
    font-size: 24px;
    transition: var(--buttontime);
  }
  .CTA1:hover {
    background-color: var(--red);
    color: #0a0a0a;
    border: 0.188em solid transparent ;
    border-radius: 0em;
    transition: var(--buttontime);
  }
  .CTA1:active {
    transition: 0s;
    background-color: var(--red-active);
  }
}